/*css��ʼ������*/
html, body, h1, h2, h3, ul, li, p, image, input {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}
input,button {
  border: none;
  outline: none;
}
a {
  color:#ccc;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  border: none;
}
h1, h2, h3, b {
  font-weight: normal;
}
body {
  background-color: #F6F6F6;
  font: normal normal 12px Microsoft YaHei;
  color: #666;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}