/*css��ʼ������*/
html,
body,
h1,
h2,
h3,
ul,
li,
p,
image,
input {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
}
a {
  color: #ccc;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  border: none;
}
h1,
h2,
h3,
b {
  font-weight: normal;
}
body {
  background-color: #F6F6F6;
  font: normal normal 12px Microsoft YaHei;
  color: #666;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.view {
  width: 1200px;
  margin: 0 auto;
}
.view .left {
  width: 170px;
  color: #94A3AF;
  background-color: #254765;
  padding: 25px 0 970px 25px;
}
.view .left .loge img {
  width: 100px;
  height: 127px;
}
.view .left .information li {
  overflow: hidden;
  height: 25px;
  font-size: 12px;
  margin-top: 28px;
}
.view .left .information li i {
  vertical-align: middle;
  font-size: 25px;
}
.view .left .skill {
  margin-top: 50px;
}
.view .left .skill .progress {
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  height: 10px;
  margin: 10px 0;
  background-color: #92A6B0;
}
.view .left .skill .master {
  width: 90%;
}
.view .left .skill .skilled {
  width: 80%;
}
.view .left .hobbies-title {
  margin-top: 30px;
  font: 700 20px '微软雅黑';
}
.view .left .hobbies {
  padding-right: 24px;
}
.view .left .hobbies li {
  height: 70px;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  float: left;
}
.view .left .hobbies li i {
  font-size: 30px;
}
.view .right {
  color: #788D91;
  width: 960px;
  padding-left: 27px;
}
.view .right .module {
  margin-top: 40px;
}
.view .right .module h1 {
  color: #26435E;
  font: 700 30px '微软雅黑';
}
.view .right .module h2 {
  color: #26435E;
  font: 700 20px '微软雅黑';
}
.view .right .module h2 i {
  vertical-align: middle;
  font-size: 35px;
}
